<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- PORCUPINE PORCUPINE PORCUPINE PORCUPINE -->
    <!-- Porcupine Specifics Setup Parameters    -->
    <context-param>
        <param-name>Porcupine.IGNORE_SSL_CERTIFICATE</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.SSL_CLIENT_KEYSTORE_FILE</param-name>
        <param-value>/Users/mauricio/java/server/as/jboss/current/latest/standalone/configuration/client.keystore.jks</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.SSL_CLIENT_KEYSTORE_PASSWORD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.SSL_CLIENT_TRUSTSTORE_FILE</param-name>
        <param-value>/Users/mauricio/java/server/as/jboss/current/latest/standalone/configuration/client.truststore.jks</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.SSL_CLIENT_TRUSTSTORE_PASSWORD</param-name>
        <param-value>server</param-value>
    </context-param>
    <!-- Porcupine Specifics Setup Parameters    -->
    <!-- PORCUPINE PORCUPINE PORCUPINE PORCUPINE -->

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Protecting the Resource</display-name>
        <web-resource-collection>
            <web-resource-name>Resource</web-resource-name>
            <description>A simple example of a REST Resource</description>
            <url-pattern>/rest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ResourceServerRealm</realm-name>
    </login-config>
    <security-role>
        <description>Regular user to get access to the system</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>Administrative Privileges</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
