<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <!-- PORCUPINE PORCUPINE PORCUPINE PORCUPINE -->
    <!-- Porcupine Specifics Setup Parameters    -->
    <context-param>
        <param-name>Porcupine.AUTHENTICATOR</param-name>
        <param-value>Authenticator.BASIC</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.AUTHENTICATOR_USERNAME</param-name>
        <param-value>maltron@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>Porcupine.AUTHENTICATOR_PASSWORD</param-name>
        <param-value>maltron</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
